
@import scaladex.core.model.search.SearchParams
@import scaladex.core.model.search.Pagination
@import scaladex.core.model.Platform
@import scaladex.core.model.ScalaVersion

@(
  params: SearchParams,
  topics: Seq[(String, Long)],
  scalaVersions: Seq[(ScalaVersion, Long)],
  platformVersions: Seq[(Platform.Version, Long)],
  pagination: Pagination,
  you: Boolean
)
<div class="filters">
  <form action="/search" action="GET">
    @if(params.contributingSearch) {
      <a class="btn btn-primary" href="/search?q=">Normal Search</a>
      <input type="hidden" name="contributingSearch" value="true">
    } else {
      <a class="btn btn-primary" href="/search?q=&contributingSearch=true">Contributing Search</a>
    }
    <h3>Filters</h3>
    <fieldset>
      <legend>Target</legend>
      <ul>
      </ul>
      @if(!scalaVersions.isEmpty) {
        Scala Version
        <ul>
        @for((scalaVersion, count) <- scalaVersions) {
          <li>
            <label>
              <input type="checkbox" @if(params.scalaVersions.contains(scalaVersion.encode)) { checked }
                     name="scalaVersions" value="@scalaVersion.encode" onclick="this.form.submit()">
              @scalaVersion (@count)
            </label>
          </li>
        }
        </ul>
      }

      @if(!platformVersions.isEmpty) {
        Platform
        <ul>
        @for((platformVersion, count) <- platformVersions) {
          <li>
            <label>
              <input type="checkbox" @if(params.platformVersions.contains(platformVersion.encode)) { checked }
                     name="platformVersions" value="@platformVersion.encode" onclick="this.form.submit()">
              @platformVersion (@count)
            </label>
          </li>
        }
        </ul>
      }
    </fieldset>
    <fieldset>
      <legend>Topics</legend>
      <ul>
        @for((topic, count) <- topics.sortBy(_._1)) {
        <li>
          <label>
            <input type="checkbox" @if(params.topics.contains(topic)) { checked }
                   name="topics" value="@topic" onclick="this.form.submit()">
            @topic (@count)
          </label>
        </li>
        }
      </ul>
    </fieldset>

    <input type="hidden" name="q" value="@params.queryString">
    <input type="hidden" name="page" value="@pagination.current">
    @if(you){
      <input type="hidden" name="you" value="">
    }
  </form>
</div>
