@import scaladex.core.model.{Artifact, Platform, Project, SemanticVersion, UserState, Env}

@(
  env: Env,
  project: Project,
  user: Option[UserState],
  platformsByVersions: Seq[(Platform.Version, Seq[Platform])],
  artifactsByVersions: Seq[(SemanticVersion, Seq[(Artifact.Name, Seq[Artifact])])]
)
@allPlatforms = @{platformsByVersions.flatMap(_._2)}
@main(env, title = project.repository.toString, showSearch = true, user) {
  <main class="artifacts">
    <div class="row">
      <div class="col-md-12">
        <a href="/@project.organization/@project.repository" class="btn btn-primary">
          Back
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

    <table>
      <thead>
        <tr>
          <th rowspan="2" class="version">Versions</th>
          <th rowspan="2" class="artifact">Artifacts</th>

          @platformsByVersions.map { case (platformVersion, platforms) =>
            <th colspan="@{platforms.size}">
              <label>
                <input type="checkbox" name="platform-version" value="@platformVersion.encode"
                       onclick="ScaladexClient.updateVisibleArtifactsInGrid()">
                @platformVersion
              </label>
            </th>
          }
        </tr>
        <tr>
          @allPlatforms.map { platform =>
            <th class="platform">
              <label>
                <input type="checkbox" name="platform" value="@platform.encode"
                       onclick="ScaladexClient.updateVisibleArtifactsInGrid()">
                @platform.scalaVersion
              </label>
            </th>
          }
        </tr>
      </thead>

      @artifactsByVersions.map { case (version, artifactsByNames) =>
        <tbody class="version-line version-line-visible">
            <tr>
              <td rowspan="@{artifactsByNames.size + 1}" class="version">
                @version
              </td>
            </tr>
            @artifactsByNames.map { case (artifactName, artifacts) =>
              @defining(artifacts.map(a => a.platform -> a).toMap) { platformToArtifact =>
                <tr class="artifact-line artifact-line-visible @({
                    platformToArtifact.keySet.map(_.version).map(version => version.encode).mkString(" ") + " " +
                    platformToArtifact.keySet.map(platform => platform.encode).mkString(" ")
                  })">
                  <td class="artifact">@artifactName</td>
                  @allPlatforms.map { platform =>
                    <td class="platform" title="@version">
                      @if(platformToArtifact.contains(platform)) {
                        <a href="@platformToArtifact(platform).httpUrl" class="supported"></a>
                      }
                    </td>
                  }
              </tr>
            }
          }
        </tbody>
      }
    </table>

      </div>
    </div>
  </main>

  <script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    ScaladexClient.updateVisibleArtifactsInGrid();
  })
  </script>
}
